/*
    __________________________________________________________________________
   |                                                                          |
   |                      MY WHEATHER STATION - STYLE                         |
   |                                                                          |
   |    Author            :   M. JALES, P. GARREAU                            |
   |    Status            :   Under Development                               |
   |    Last Modification :   16/09/2022                                      |
   |    Project           :   EMBEDDED LINUX PROJECT                          |
   |                                                                          |
   |__________________________________________________________________________|
   
*/

/* ------------------- GLOBAL VARIABLES ------------------- */
:root {
    /* Colors */
    --white-color: #ffffff;
    --green-color: #75aa28;
    --pink-color: #bc1142;
    --black-color: #000000;

    /* Sizes */
    --left-section-width: 8%;
    --border-radius-size: 35px;
}


/* ------------------- ALL PAGES STYLES ------------------- */
body {
    font-family: "Trebuchet MS", Helvetica, Arial;
    background-image: url("../assets/images/background.png");
    background-size: cover;
}

.bodyContainer {
    position: fixed;
    right: 0;
    bottom: 0;
    width: calc(100% - var(--left-section-width));
    height: 90vh;
    background-color: var(--white-color);
    border-radius: var(--border-radius-size);
    border-bottom-right-radius: 0;
}

.leftContainer {
    position: fixed;
    left: 0;
    top: 0;
    width: var(--left-section-width);
    height: 100vh;
    color: var(--white-color);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.logoMinesContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.logoMines {
    width: 60%;
    position: absolute;
    bottom: 5%;
    cursor: pointer;
}

.menuContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 50vh;
    background-color: var(--white-color);
}

.menuItemContainer, .fakeItemContainer {
    height: 25%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: var(--pink-color);
}

.menuItemContainer {
    cursor: pointer;
}

.fakeItemContainer {
    height: 60px;
}

.menuItemContainer:hover {
    background-color: var(--white-color);
    border-top-left-radius: var(--border-radius-size);
    border-bottom-left-radius: var(--border-radius-size);
}

.menuIcon {
    transition: all 0.2s ease;
    width: 35%;
}

.topContainer {
    position: fixed;
    left: 1.5%;
    top: 0;
    width: 96%;
    height: 10vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.titleTopContainer {
    font-size: 20px;
    color: var(--white-color);
}

.pdpImage {
    height: 8vh;
    border-radius: 8vh;
}

#imagePierre {
    position: relative;
    right: 10%;
    z-index: 0;
}

#imageMickael {
    position: relative;
    z-index: 1;
}

.contributorsContainer {
    width: 15%;
    color: var(--white-color);
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    transition: all 0.2s ease;
    cursor: pointer;
}

.contributors {
    opacity: 0;
    width: 0;
    transition: width 0.4s ease, opacity 0.4s ease;
    transition-delay: opacity 0.2s;
}

@media(hover:hover) {
    .contributorsContainer:hover .contributors {
        opacity: 1;
        width: 100%;
        transition: width 0.4s ease, opacity 0.4s ease;
        transition-delay: width 0.2s;
    }
}

.logoWeatherStationContainer {
    display: flex;
    flex-direction: row;
    align-items: center;    
}

.logoWeatherStation {
    cursor: pointer;
    transition: all 0.2s ease;
    height: 10vh;
}